body{

}
.editor-pick{
    width: 350px;
    border-radius: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 8px;
}
.icon img{
    width: 70px;

}
.image img {
    width: 50%;
}
.category {
    color: rgb(93, 93, 94);
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #555;
}
.aw{
    margin-left: 10px;
}