.head {
  background-color: #3498db;
  color: white;
  padding: 15px;
}
.sidebar-content {
  display: flex;
  height: 300px;
  color: white;
  
}
.sidebar{
  margin: 10px 10px 10px 0px;
  width: 30%;
  background-color: #2ecc71;
  padding: 15px;
}
.content{
  margin: 10px 0px 10px 0px;
  width: 70%;
  background-color: #e74c3c;
  padding: 15px;
}
.footer{
  background-color: #9b59b6;
  color: white;
  padding: 15px;
}